.column {
  width: calc(25% - 10px);
  background-color: "#fff";
}

@media screen and (max-width: 768px) {
  .column {
    width: calc(50% - 10px);
  }
}

.imgPoster {
  height: 305px;
  width: 215px;
  object-fit: contain;
}
