:root {
  --primary: #00a496;
  --secondary: #6c757d;
  --white: #fff;
  --black: #000;
}
.Main {
  flex: 1;
}


.CenterAlign {
  padding: 0 25%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.decoration {
  text-decoration: none;
}
