body {
  margin: 0;
  background-color: #1c1c1c;
  font-family: "Helvetica";
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Helvetica";
  font-size: 2em;
  font-size: 39px;
  font-weight: 700;
  color: #fff;
}
